*{
  margin:0;
  padding: 0;
  font-family: Arail;
  font-size: 18px;
}

body{
  background: #374251;
}
.block{
  width: 500px;
  height: 350px;
  background: #333C4B;
  margin: 100px auto;
  border-top: 5px solid #80D341;
  box-shadow: 0 0 10px rgba(128, 221, 65, 0.5);

}

.content{
  padding: 50px;

}

.content h1 {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 5px;

}
.content p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 10px;

}
.sum{
  display: flex;
  justify-content: space-between;
}
.input{
  display: flex;
  justify-content: space-between;
}
.rub{
  margin-top:5px;
  margin-bottom:5px;
  background: #262C36;
    color: #fff;
    padding: 5px;
    border: 1px solid #262C36;
    font-size: 12px;

}
.rub:hover{
  background: #80D341;
  border: 1px solid #80D341;

}
.rub:focus{
  background: #80D341;
  border: 1px solid #80D341;
}

.send{

  background: #80D341;
    color: #333C4B;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #80D341;
    font-size: 16px;
    display: flex;
      margin: 0 auto;
      margin-top:15px;
      margin-bottom:5px;
}
.send:hover{
  background: #262C36;
  border: 1px solid #fff;
  color: #fff;

}
.send:focus{
  background: #262C36;
  border: 1px solid #fff;
  color: #fff;
}

.creditcart{
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom:5px;
  background: #262C36;
  color: #fff;
  padding: 5px;
  border: 1px solid #262C36;
  font-size: 16px;
  margin-right: 5px;
}

.creditcart2{
  display: flex;
  justify-content: space-between;
  width: 55%;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom:5px;
  background: #262C36;
  color: #fff;
  padding: 5px;
  border: 1px solid #262C36;
  font-size: 16px;
  margin-right: 5px;
  cursor: text;
}
.creditcart3{
  display: flex;
  justify-content: space-between;
  width: 30%;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom:5px;
  background: #262C36;
  color: #fff;
  padding: 5px;
  border: 1px solid #262C36;
  font-size: 16px;
  margin-right: 5px;
}
.creditcart4{
  display: flex;
  justify-content: space-between;
  width: 15%;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom:5px;
  background: #262C36;
  color: #fff;
  padding: 5px;
  border: 1px solid #262C36;
  font-size: 16px;

}
